# Rust derleme dosyaları
/target/
**/target/

# Cargo kilit dosyası (Kütüphane geliştiriyorsan ekleme, uygulama ise ekle)
# Cargo.lock

# IDE ve OS özel dosyaları
.DS_Store
.vscode/

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Xcode / Swift Specific (Arayüz tarafı için)
build/
*.xcodeproj/
*.xcworkspace/