[package]
name = "daemon"
version = "0.1.0"
edition = "2021"

[dependencies]
nysvpn-core = { path = "../core" }
shared = { path = "../shared" }
tokio = { workspace = true }
serde_json = { workspace = true }
anyhow = { workspace = true }
